/* Estilos generales */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue; /* Color por defecto */
}

.contenido {
    text-align: center;
}

.texto a {
    text-decoration: none;
    color: inherit; /* Mantiene el color del enlace igual al texto */
    font-size: 24px;
}
.texto a:hover {
    text-decoration: none; /*Elimina la decoracion de url*/
}

.imagen img {
    width: 100%;
    max-width: 600px; /* Limita el ancho máximo de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 50%;
}

/* Texto por defecto para el screen de escritorio */
#id-text::before {
    font-family:cursive;
    content: "Bill Cipher";
    font-size: 24px;
    margin-bottom: 10px; /* Espacio entre el texto y la imagen */
    
}


/* Media Queries formula para realizar cambios dependiendo del display */

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (min-height:600px) and (max-height:900px) {
    body {
        background-color: lightgreen;
    }
    #id-text::before {
        font-family:cursive;
        content: "SIGUE";
       
    }
    #img {
        content: url('/GIT/OIP.jpg');

    }
}

/* Teléfonos móviles */
@media only screen and (max-width: 767px) and (min-height:480px) and (max-height:850px) {
    body {
        background-color: lightcoral;
    }
    #id-text::before {
        font-family:cursive;
        content: "!VIVO!";
    }
    #img {
        content: url('/GIT/R.png');
        height: 500px; width: 500px;
    }
}
